<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:banner="@drawable/theme_img"
        android:networkSecurityConfig="@xml/network_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WinterApplication"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.MineActivity"></activity>
        <activity android:name=".activity.StructActivity"></activity>
        <activity android:name=".activity.DirectorActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.StructArticleActivity"></activity>
        <activity android:name=".activity.MainContentActivity"></activity>
        <activity android:name=".activity.StructContentActivity"></activity>
        <activity android:name=".activity.DirectorContentActivity"></activity>
        <activity android:name=".activity.SquareActivity"></activity>
        <activity android:name=".activity.SquareContentActivity"></activity>
        <activity android:name=".activity.MoreActivity"></activity>
        <activity android:name=".activity.StudyActivity"></activity>
        <activity android:name=".activity.StudyContentActivity"></activity>
        <activity android:name=".activity.UsefulWebsiteActivity"></activity>
        <activity android:name=".activity.UsefulWebsiteContentActivity"></activity>
        <activity android:name=".activity.HotWordsActivity"></activity>
        <activity android:name=".activity.AnswersActivity"></activity>
        <activity android:name=".activity.AnswersContentActivity"></activity>
        <activity android:name=".activity.SpecialColumnActivity"></activity>
        <activity android:name=".activity.RouteActivity"></activity>

    </application>

</manifest>